.form {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}