.contactsList {
    display: flex;
    flex-direction: row;
    width: 20%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

.btn {
    width: 30%;
    height: 20%;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.info {
    margin-right: auto;
}

.person {
    list-style: none;
}

.phone {
    list-style: none;
}